$theme-color: #2892FF;


.wrap-top {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.wrap-bottom {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  box-shadow: none !important;
}

.bg-postion {
  height: 100px;
  background: #fff;
  border-radius: 18px;
  position: absolute;
  width: 100%;
  top: 0px;
}

.bg-postion-no-radius {
  height: 100px;
  background: #fff;
  // border-radius: 18px;
  position: absolute;
  width: 100%;
  top: 0px;
}

.module-wrap {
  box-shadow: 0px 4px 20px 0px #F6F6F6;
  border-radius: 18px;
  padding: 0px 0px 34px 0px;
  margin-bottom: 199px;
  position: relative;

  .m-title {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #999;
    margin-bottom: 24px;

    i {
      padding-left: 6px;
      font-size: 24px;
    }

    .m-t-left {
      font-size: 32px;
      color: #000000;
    }
  }

  .m-content-x {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 4px !important;

    // margin-top: 30px;
    // justify-content:start;
    .content-item {
      width: 25%;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 50px !important;

      &::before {
        content: none !important;
      }

      .van-image {

        // border-radius: 12px;
        // overflow: hidden;
        img {
          // border-radius: 12px;
        }
      }

      // ::v-deep .van-image__img{
      //   max-width: 48px;
      // }
      // ::v-deep .van-image__error{
      //   position: relative;
      //   background-color: initial!important;
      // }
      .c-i-pic {
        width: 100%;
        min-height: 48px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 48px;
          height: 48px;
        }

      }

      .c-i-title {
        width: 100%;
        font-size: 24px;
        color: #333333;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        // ::v-deep span{
        //   color:#2892FF!important;
        // }
      }

    }

  }

  .m-content-three {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    padding: 50px 0px 0px 0px;
    // background:#fff;
    border-radius: 18px;
    background: #fff;

    .content-item-three {
      width: 33%;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 50px;
      background: #fff;

      .c-i-pic {
        width: 100%;
        margin-bottom: 33px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 100px;
          height: 100px;
          border-radius: 10px;
        }

      }

      .c-i-title {
        width: 100%;
        font-size: 28px;
        color: #333333;
        margin-bottom: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .c-i-price {
        font-size: 24px;
        color: #F3513B;
      }
    }
  }

  .m-content {
    .content-item-radius {
      border-bottom-left-radius: 18px !important;
      border-bottom-right-radius: 18px !important;
    }

    // .content-item-sticky-top{
    //   &:nth-child(3){
    //     padding-top: 120px!important;
    //   }
    // }
    .content-item-top-radius {
      &:nth-child(3) {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
      }
    }

    .content-item {
      display: flex;
      align-items: center;
      // border-bottom: 2px solid #f1f1f1;
      // padding: 30px 0px;
      position: relative;
      padding: 30px 24px 30px 29px;
      background: #fff;
      border-bottom-left-radius: 18px;
      border-bottom-right-radius: 18px;

      // margin:2px 0px;
      &:nth-child(3) {
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
      }

      &:nth-child(3)::before {
        content: none;
      }

      &:not(:nth-last-child(1)) {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      .c-i-left-width {
        width: 140px !important;
      }

      .c-i-left {
        margin-right: 20px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;

        .van-image {
          border-radius: 12px;
          overflow: hidden;

          img {
            width: 100%;
            border-radius: 12px;
          }


        }

        img {
          width: 150px;
          border-radius: 10px;
          // height: 150px;
        }

        .l-tag {
          width: auto;
          height: 24px;
          position: absolute;
          right: -10px;
          top: -10px;
          border-radius: 0px !important;
        }
      }
    }

    .content-item-three::before {
      content: none !important;
    }

  }

  .filter-wrap {
    height: 100px;
    line-height: 60px;
    display: flex;
    padding-top: 16px;
    // position: fixed;
    // width: 85%;
    background: #fff;
    /* top: 10px; */
    // z-index: 99;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;

    div {
      width: 25%;
      text-align: center;
      font-size: 28px;
      color: #666666;
      position: relative;
    }

    i {
      color: #acacac;
      font-size: 20px;
      margin-left: 5px;
      position: absolute;
      top: 0px;
      transform: scale(.6);
    }

    .currentPrice {
      position: relative;

      .ic-shangjiantou1 {
        position: absolute;
        top: -6px;
        // right: 11px;
      }

      .ic-xiajiantou1 {
        position: absolute;
        top: 8px;
        // right: 11px;
      }
    }

    .active {
      color: #2892FF;

      i {
        color: #2892FF;
      }
    }
  }
}

.module-wrap1 {
  // position: fixed;
  // width: 92%;
  // background: #fff;
  // z-index: 99;
  // top: 310px;
  box-shadow: none;
}

.wrap-fixed {
  height: 100%;
  // max-height: calc((100% - 116px));
  overflow-y: auto;
  scrollbar-width: none;
  // margin-bottom: 100px;
  border-radius: 18px;
  position: relative;

  .m-content {
    height: 100%;
  }
}

.wrap-fixed::-webkit-scrollbar {
  display: none;
}

.wrap-fixed::-moz-scrollbar {
  display: none;
}

.mt-100 {
  margin-top: 100px;
}

.mt-0 {
  margin-top: 0px;
}

.pt-120 {
  padding-top: 120px;
}

.class230 {
  height: calc(100% - 180px);
  // padding-bottom: 100px;
}

.class110 {
  height: calc(100% - 60px);
}

.class120 {
  height: calc(100% - 70px);
}

.class100 {
  height: 103%;
}

.h100 {
  height: 100%;
  overflow: hidden;
  border-radius: 18px;
}

.bottom-line {
  font-size: 24px;
  font-weight: 400;
  color: #CCCCCC;
  line-height: 33px;
  // margin:30px 0px 0px 0px;
  text-align: center;
  margin: 36px 0 54px 0px;
  width: 100%;
  position: relative;
}

.bottom-line-height {
  font-size: 24px;
  font-weight: 400;
  color: #CCCCCC;
  line-height: 33px;
  // margin:30px 0px 0px 0px;
  text-align: center;
  height: 1px;
  width: 100%;
  position: relative;
}

.cover {
  position: absolute;
  left: 0;
  top: -1px;
  z-index: 5;
  width: 100%;
  height: 18px;
}

.cover>svg {
  width: 18px;
  height: 18px;
}

.cover>svg:first-child {
  float: left;
}

.cover>svg:last-child {
  float: right;
}

.cover1 {
  position: absolute;
  left: 0;
  top: -50px;
  z-index: 5;
  width: 100%;
  height: 18px;
}

.cover1>svg {
  width: 18px;
  height: 18px;
}

.cover1>svg:first-child {
  float: left;
  transform: rotate(-90deg);
}

.cover1>svg:last-child {
  float: right;
  transform: rotate(90deg);
}

.cover2 {
  position: absolute;
  left: 0;
  top: -18px;
  z-index: 5;
  width: 100%;
  height: 18px;
}

.cover2>svg {
  width: 18px;
  height: 18px;
}

.cover2>svg:first-child {
  float: left;
  transform: rotate(-90deg);
}

.cover2>svg:last-child {
  float: right;
  transform: rotate(90deg);
}

.display-none {
  display: none;
}

.sticky-content {
  position: sticky;
  width: 100%;
  z-index: 9;
  top: -1px;
}

.live-broadcast-wrap {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.live-broadcast-icon {
  z-index: 999;
  position: absolute;
  width: 96px;
  height: 96px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 46px;
  color: #333;

  svg {
    width: 40px;
  }
}

.live-broadcast-title {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 6px 27px;
  color: #FFF;
  text-align: left;
  border-radius: 0 0 0.16rem 0.16rem;
  font-family: PingFangSC, PingFang SC, sans-serif;

  .title {
    font-weight: 500;
    font-size: 28px;
  }

  .subTitle {
    font-size: 24px;
  }
}